<footer>
    <a href="https://www.linkedin.com/in/wyatt-phillips-53805a123/">LinkedIn<a>
    <a href="https://github.com/SirTangent">GitHub<a>
    <a href="https://keybase.io/sirtangent">Keybase<a>
    <a href="https://www.hackster.io/SirTangent">Hackster.io<a>
    <a href="https://twitter.com/SirTangent180">Twitter<a>
    <a href="https://www.instagram.com/sirtangent/">Instagram<a>
<!--
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
-->
</footer>
